	
	body
	{
background:url(/assignments/htmlassignment/img/Jungle1.jpg) fixed;
		
		background-color:#201A23 ; 
		color:#FFFFFC;	
		font-size:15px;
		
	}

	header
	{
		background-color:#585563;
		height:82px;
		border-radius: 20px 0px 20px ;
		position:fixed;

	}
	header h1
	{
		font-size:55px;
		text-shadow: 5px 5px 5px #201A23; 

	}
	nav li
	{
		display: inline;
		font-size:18px;
		float: left;
	}
	.main
	{
		margin-top:120px;
	}
	.main h2
	{
		font-size:40px;

	}
	.main h3
	{
		font-size:30px;
		text-shadow: 5px 5px 5px #201A23; 
	}
	footer
	{
		background-color:#585563; 
		overflow: hidden;
		clear:both;
		width:960px;
		height:43px;
		margin: 20px 0px 30px 0px;
		border-radius: 10px 0px 10px ;
		text-align: center;
	}
	footer img
	{width: 50px;
		height: 40px;
		padding: 1px 5px 1px 5px;		
	}
	.cont
	{overflow: hidden;
		clear:both;
		margin: 20px 0px 20px;
	}
	.cont h2
	{
		text-align: center;
		font-family:cursive;
		text-shadow: 5px 5px 5px #201A23;
	}
	.grid_4 
	{	/*background-color:#585563;*/
		 background: rgba(80, 85, 90, 0.6);
		border-radius: 20px 20px 0px 0px;
		text-align: center;
	}
	.grid_6
	{
		background: rgba(80, 85, 90, 0.6);
		border-radius: 20px 0px 20px 0px;
		text-align: center;
		padding:5px 5px 5px 5px; 
		margin-bottom:20px;
	}
	.imgcont
	{	background: rgba(80, 85, 90, 0.6);
		border-radius: 20px 20px 20px 20px;
		text-align: center;
		padding:2px 2px 2px 2px;
		width: 450px;
		height: 165px;
	}
	.imgcont img
	{float: left;}
	.grid_5 img
	{width: 160px;
		height: 160px;
		margin: 5px 0px 5px 0px;
		border-radius: 130px;
		text-align: center;
	}
	.patyimg
	{
		width: 270px;
		height: 270px;
		margin: 10px 0px 10px 0px;
		border-radius: 130px;/*to make the images round*/	
	}
	.kabout
	{background:url(/assignments/htmlassignment/img/sharks1.jpg);	

	}

	.hero
	{
		overflow: hidden;
		clear:both;
		background:url(/assignments/htmlassignment/img/smallchita.jpg);
		width:959px;
		height:400px;
		border-width:2px;
		border-color:#F3FFB9;
		}
		a:hover
		{font-family:cursive;
		}
		.hero a
		{
			font-size:25PX;
			margin: 50px 20px;
		}
		.hero p
		{margin: 50px 20px;
			font-size:18px;
			width: 300px;
			height: 100px
		} 
		.grid_4
		{   border-color: #F3FFB9;
			border-width: 2px;
		}
	a
	{text-decoration: none;/*to remove the under line */
		font-size:18px;
		color:#FFFFFC;
	}
	nav ul 
	{
		margin:20px 5px 0px 30px;
	}
	